//-------------------------------------
// #SETTINGS-RESPONSIVE
//-------------------------------------

//
// Hold our breakpoint aliases and conditions in a list.
//
// These can be invoked later on via the `media-query()` mixin found in
// `_tools.responsive`.
//

$breakpoints: (
  "small"  : "screen and (max-width: #{rem(576px)})",
  "medium" : "screen and (min-width: #{rem(768px)})",
  "large"  : "screen and (min-width: #{rem(1025px)})",
  "wide"   : "screen and (min-width: #{rem(1441px)})"
) !default;


$outer-grid: (
  columns: 1,
  gutter: 0px,
);

$default-desktop-grid: (
  columns: 12,
  gutter: 50px,
);

$default-mobile-grid: (
  columns: 4,
  gutter: 15px,
  media: '(max-width: 600px)',
);


